# Module 6.1 Activity: Introduction to Pandas

## Importing Pandas

 As you have seen in class, Pandas can be a very useful tool when working with tabular data and is commonly used by data scientists in the real world! In the call below, use what you know about importing packages to import Pandas! If you want to, you can abbreviate pandas to `pd` (very common in data science).

**Hint:** Pandas is called pandas!

In [4]:
import pandas as pd

## Creating a Pandas DataFrame

Let's create a simple table like we have seen in the past. This table will have two columns: `Stores` and `Scoop Price`.

In [5]:
ice_cream = {"Stores": ["Coldstone", "Cream", "Baskin Robbins", "Ben and Jerry's", "Haagen Dazs"],
            "Scoop Price": [5.00, 3.50, 2.79, 3.99, 4.99]}

Now you need to make it into a data frame in the call below!

In [6]:
scoops = pd.DataFrame(ice_cream)
scoops

            Stores  Scoop Price
0        Coldstone         5.00
1            Cream         3.50
2   Baskin Robbins         2.79
3  Ben and Jerry's         3.99
4      Haagen Dazs         4.99

**Question 1:** How many rows will our ice_cream_df have?

In [7]:
number_rows = scoops.shape[0]
number_rows

5

**Question 2:** How many columns will our table have?

In [8]:
number_columns = scoops.shape[1]
number_columns

2

**Question 3:** What are the names of our two columns? For an added challenge, try to only use code to get the column names.

**HINT:** [https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.columns.html] may be helpful.

In [9]:
names = scoops.columns.values
names

array(['Stores', 'Scoop Price'], dtype=object)

**Column Names:** *Type the corresponding text for the column names here*

## Importing Data Frames

We have a dataset called "cereal.csv". In the next line, we need to import it here so that we can use it here! Make sure to give it the name `cereal` so that we can access it easily!

In [10]:
cereal = pd.read_csv('cereal.csv')
cereal

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

Let's try to show just the first five rows of our `cereal` DataFrame. Use Pandas's `head()` method to do exactly that!

In [11]:
first_five = cereal.head()
first_five

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

## Working with the Data

Now that we have our dataset let's see how we can interact with the data. When you write your answer, check and see if your code works!

In [12]:
cereal.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

We can filter our data by manufacturer -- `G` means General Mills, `K` means Kellogg, and `M` means MrBreakfast. What is the average rating of General Mills cereals?

First, let's filter our cereals by manufacturers:

In [14]:
general_mills = cereal[cereal['mfr'] == 'G']
general_mills

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
12,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
13,Clusters,G,C,110,3,2,140,2.0,13.0,7,105,25,3,1.00,0.50,40.400208
14,Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.00,1.00,22.736446
18,Count Chocula,G,C,110,1,1,180,0.0,12.0,13,65,25,2,1.00,1.00,22.396513
22,Crispy Wheat & Raisins,G,C,100,2,1,140,2.0,11.0,10,120,25,3,1.00,0.75,36.176196
31,Golden Grahams,G,C,110,1,1,280,0.0,15.0,9,45,25,2,1.00,0.75,23.804043
36,Honey Nut Cheerios,G,C,110,3,1,250,1.5,11.5,10,90,25,1,1.00,0.75,31.072217
40,Kix,G,C,110,2,1,260,0.0,21.0,3,40,25,2,1.00,1.50,39.241114
42,Lucky Charms,G,C,110,2,1,180,0.0,12.0,12,55,25,2,1.00,1.00,26.734515
47,Multi-Grain Cheerios,G,C,100,2,1,220,2.0,15.0,6,90,25,1,1.00,1.00,40.105965
51,Oatmeal Raisin Crisp,G,C,130,3,2,170,1.5,13.5,10,120,25,3,1.25,0.50,30.450843
59,Raisin Nut Bran,G,C,100,3,2,140,2.5,10.5,8,140,25,3,1.00,0.50,39.703400
69,Total Corn Flakes,G,C,110,2,1,200,0.0,21.0,3,35,100,3,1.00,1.00,38.839746
70,Total Raisin Bran,G,C,140,3,1,190,4.0,15.0,14,230,100,3,1.50,1.00,28.592785
71,Total Whole Grain,G,C,100,3,1,200,3.0,16.0,3,110,100,3,1.00,1.00,46.658844
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.00,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.00,1.00,27.753301
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.00,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.00,0.75,36.187559

Next, we can look at our data and select just the ratings column:

In [15]:
general_mills_ratings = general_mills['rating']

Finally, we can take the average! Note that you can use any NumPy function on a series (the data type that all columns in DataFrames are), but series also have some of their own functions (read about them here: [https://pandas.pydata.org/pandas-docs/stable/reference/series.html] -- you may be especially interested in the *Computations / descriptive stats* category!). There are two ways we can get the average -- by using `np.average` or by directly calling `.mean()` on the column.

In [16]:
import numpy as np
ratings_average1 = np.average(general_mills_ratings)
ratings_average2 = general_mills_ratings.mean()

In [18]:
ratings_average2

34.48585168181818

**Question 4:** How could I return a column of just the cereal names?

In [23]:
cereal_names = cereal['name']
cereal_names

0                     100% Bran
1             100% Natural Bran
2                      All-Bran
3     All-Bran with Extra Fiber
4                Almond Delight
                ...
72                      Triples
73                         Trix
74                   Wheat Chex
75                     Wheaties
76          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

**Question 5:** How could I add a new column called `index` to the data table with the index of each cereal starting at 1?

In [26]:
cereal['index'] = cereal.index + 1
cereal

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,index
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,1
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,2
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,3
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,4
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174,73
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301,74
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445,75
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193,76
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559,77

**Question 6:** How could I create a DataFrame that took the first 25 rows with just the `name`, `sugars`, and `rating` columns?

In [41]:
sugars_and_rating = cereal.loc[0:25, ['name', 'sugars', 'rating']]
sugars_and_rating.head()

                        name  sugars     rating
0                  100% Bran       6  68.402973
1          100% Natural Bran       8  33.983679
2                   All-Bran       5  59.425505
3  All-Bran with Extra Fiber       0  93.704912
4             Almond Delight       8  34.384843

**Challenge Question:** How could I return only the the rows for Trix?

In [35]:
trix = cereal.loc[cereal['name'] == 'Trix']
trix

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,index
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.0,27.753301,74